allow system_app surfaceflinger_tmpfs:file { read write };
allow system_app log_file:dir { rw_dir_perms setattr };
allow system_app log_file:file create_file_perms;
allow system_app log_file:filesystem getattr;

#============= system_app ==============
allow system_app sysfs_thermal_management:dir search;

allow system_app sysfs_thermal_management:file { read open };


#============= system_app ==============
allow system_app logtoold_exec:file { getattr execute read open execute_no_trans };

allow system_app system_app_data_file:file { execute execute_no_trans };
